#streamlit
#langchain
#huggingface_hub
#sentence_transformers
#pandas
#faiss-gpu
#git+https://github.com/huggingface/transformers.git
#accelerate
#bitsandbytes

#replit
transformers
#sentencepiece
torch
#accelerate
#einops
#bitsandbytes
streamlit
#scipy
