# Ignore vendor directory
/vendor

# Ignore .env file
.env

# Ignore user-specific files
/.idea
/.vscode
/.phpstorm.meta.php

# Ignore log and cache files
/storage/*.log
/bootstrap/cache/*

# Ignore local development files
/.vagrant
Homestead.json
Homestead.yaml

# Ignore composer lock file
composer.lock

# Ignore node_modules directory
/node_modules

# Ignore compiled assets
/public/js/app.js
/public/css/app.css

# Ignore server configuration files
/nginx
/apache2

# Ignore SQLite database file
/database/*.sqlite

# Ignore editor files
*.swp
.DS_Store
